<footer>
    <div class="footercontainer">
        <div class="usefullinks">
            <p>links</p>
            <ul>
                <li><a aria-label="naar home" href="/">Home <i class="fa-solid fa-arrow-left"></i></a></li>
                <li><a aria-label="naar adoptie" href="/adoptie">Adoptie <i class="fa-solid fa-arrow-left"></i></a></li>
                <li><a aria-label="naar afstand doen" href="/toevoegen">Afstand doen <i class="fa-solid fa-arrow-left"></i></a></li>
                <li><a aria-label="naar profiel" href="/profiel">Profiel <i class="fa-solid fa-arrow-left"></i></a></li>
            </ul>
        </div>
        <div class="footercontact">
            <p>Contact</p>
            <ul>
                <li>Purrfect Match</li>
                <li>Wibautstraat 2A</li>
                <li>1315AP</li>
            </ul>
        </div>
    </div>
    <ul>
        <li><i aria-label="instagram" class="fa-brands fa-instagram"></i></li>
        <li><i aria-label="facebook" class="fa-brands fa-facebook"></i></li>
        <li><i aria-label="twitter" class="fa-brands fa-twitter"></i></li>
    </ul>
    <div class="madeby">
        <p>Developed by: Elton, Evi, Joni & Senna</p>
    </div>
    
</footer>