<header>

    <div class="container">     
        <nav>
            <p class="logo">PURRFECT MATCH</p>
            <ul id="dropdown">
                <li><a href="/">Home</a></li>
                <li><a href="/adoptie">Adoptie</a></li>
                <li><a href="/toevoegen">Toevoegen</a></li>
                <li><a href="/favorieten">Favorieten</a></li>
                <li><a href="/mail">Mail</a></li>
                <li><a href="/profiel">Profiel</a></li>
                <i class="fas fa-times" onclick="closemenu()"></i>
            </ul>
            <i class="fas fa-bars" onclick="openmenu()"></i>
        </nav>
    
</header>