<header>

    <div class="container">     
        
        <nav>
            <a href="/">
                <img src="img/PM-logo.png" alt="">
                <p class="logo">PURRFECT MATCH</p>
            </a>
            <ul id="sidemenu">
                <li><a href="/adoptie">Adoptie</a></li>
                <li><a href="/toevoegen">Toevoegen</a></li>
                <li><a href="/favorieten">Favorieten</a></li>
                <li><a href="/mail">Mail</a></li>
                <li><a href="/profiel">Profiel</a></li>
                <i class="fas fa-times" onclick="sidemenu()"></i>
            </ul>
            
            <i class="fa-solid fa-circle-user"></i>
            <i class="fas fa-bars" onclick="sidemenu()"></i>
        </nav>
    </div>
    
</header>