<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adoptie - PurrfectMatch</title>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/fee5056558.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <main>
      <section>
        <ul class="overzicht">
          <li>
            <a href="detail.html">
              <img
                src="img/verticale-close-up-shot-van-een-prachtige-afrikaanse-luipaard-die-op-de-weg-loopt kopie.jpg"
                alt=""
              />
              <div>
                <h2>Simba</h2>
                <h3>Leeuw</h3>
                <h4>Man</h4>
                <h5>3 jaar</h5>
              </div>
              <i class="fa-solid fa-pen"></i>
            </a>
          </li>
          <li>
            <a href="detail.html">
              <img
                src="img/verticale-close-up-shot-van-een-prachtige-afrikaanse-luipaard-die-op-de-weg-loopt kopie.jpg"
                alt=""
              />
              <div>
                <h2>Samba</h2>
                <h3>Leeuw</h3>
                <h4>Vrouw</h4>
                <h5>3 jaar</h5>
              </div>
              <i class="fa-solid fa-pen"></i>
            </a>
          </li>
        </ul>
      </section>
    </main>
    <script src="script.js"></script>
  </body>
</html>
