<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - PurrfectMatch</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include('../partials/nav') %>
    <main>
      <section class="homefoto">
          <div>
              <h2>Ik zoek een match</h2>
              <h2>Ben jij mijn PURRFECT MATCH</h2>
          </div>
          <img src="img/homefoto.png" alt="">
      </section>
      <section class="kiessection">
          <p>Neem een kijkje bij onze opvangdieren</p>
         <div>
          <div>
              <img src="img/katpoot.png" alt="">
              <div>
                  <h3>Katten</h3>
                  <h2>21</h2>
              </div>
              <i class="fa-solid fa-arrow-right"></i>
          </div>
          <div>
              <img src="img/grootpoot.png" alt="">
              <div>
                  <h3>Wilde katten</h3>
                  <h2>12</h2>
              </div>
              <i class="fa-solid fa-arrow-right"></i>
          </div>
         </div>
      </section>
      <section class="dieren">
          <h3>ONTDEK ONZE STRALENDE DIEREN</h3>
          <p>Elk dier verdient een liefdevol thuis, maar sommigen hebben wat extra  ondersteuning nodig om dat te vinden. Maak kennis met onze asielbewoners  die wat extra aandacht verdienen! We stellen graag deze bijzondere  dieren aan je voor die op zoek zijn naar een warme plek in de  schijnwerpers van jouw hart.</p>
          <div class="swiper">
            <p class="swiper-pagination"></p>
            <button class="swiper-button-prev"></button>
            <button class="swiper-button-next"></button>
            <ul>
              <li class="swiper-slide">
                <img src="#" alt="">
                <div>
                  <p>geslacht</p>
                  <p>verjaardag</p>
                </div>
                <hr>
                <p>naam</p>
                <p>stukje text</p>
                <a href="#">bekijk profiel-></a>

              </li>
            </ul>

          </div>
      </section>
      <section class="doneren">
          <h4>STEUN ONS EN DE DIEREN MET EEN GIFT</h4>
          <a href="€ Steun ons
          "></a>
      </section>
      <section class="afstand">
          <h4>Afstand doen van een dier?</h4>
          <p>Mensen doen afstand van hun huisdieren om verschillende redenen, zoals  ziekte, financiële problemen, ruimtegebrek, allergieën, of veranderingen  in levensomstandigheden. Hoe moeilijk het ook is, we respecteren altijd  hun beslissing. Gelukkig zijn er nieuwe eigenaren die met liefde deze  dieren een nieuw thuis bieden.</p>
          <p>LET OP: Er dient altijd eerst een e-mail gestuurd te worden om afstand te doen van een dier</p>
      </section>
      <section class="contact">
          <h3>NEEM CONTACT MET ONS OP</h3>
          <p>Stuur een bericht naar ons toe, we reageren zo snel mogelijk!</p>
          <div>
              <p>Voornaam</p>
             <input type="text">
             <p>Achternaam</p>
             <input type="text">
          </div>
          <p>e-mail</p>
          <input type="text" name="" id="">
          <p>text</p>
          <input type="text" name="" id="">
      </section>
  </main>
  <script src="script/script.js"></script>
    
  </body>
</html>
