<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - PurrfectMatch</title>
    <link rel="stylesheet" href="style.css" />
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<script
src="https://kit.fontawesome.com/fee5056558.js"
crossorigin="anonymous"
></script>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <main>
      <section class="homefoto">
        <div class="homefotocontainer">
          <div>
              <h2>Ik zoek een match</h2>
              <h2>Ben jij mijn PURRFECT MATCH</h2>
          </div>
          <img src="img/homefoto.png" alt="">
        </div>  
      </section>
      <section class="kiessection">
          <p>Neem een kijkje bij onze opvangdieren</p>
         <div>
          <a href="/"><div>
              <img src="img/katpoot.png" alt="">
              <div class="kiessectiontext">
                  <h3>Katten</h3>
                  <p>21</p>
              </div>
              <i class="fa-solid fa-arrow-right"></i>
          </div></a>
          <a href="">
            <div>
              <img src="img/grootpoot.png" alt="">
              <div class="kiessectiontext">
                  <h3>Wilde katten</h3>
                  <p>12</p>
              </div>
          
              <i class="fa-solid fa-arrow-right"></i>
          </div>
        </a>
         </div>
      </section>
      <section class="dieren">
          <h3>ONTDEK ONZE STRALENDE DIEREN</h3>
          <p>Elk dier verdient een liefdevol thuis, maar sommigen hebben wat extra  ondersteuning nodig om dat te vinden. Maak kennis met onze asielbewoners  die wat extra aandacht verdienen! We stellen graag deze bijzondere  dieren aan je voor die op zoek zijn naar een warme plek in de  schijnwerpers van jouw hart.</p>
           <!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="img/verticale-close-up-shot-van-een-prachtige-afrikaanse-luipaard-die-op-de-weg-loopt kopie.jpg" alt="">
      <div>
          <p>mannelijk</p>
          <p>4</p>
      </div>
      <hr>
      <h4>Danny</h4>
      <p>Hallo! ik ben Danny de krachtige katachtige. Rawrr</p>
      <a href="#">bekijk het profiel-></a>
    </div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
      </section>
      <section class="doneren">
          <h4>STEUN ONS EN DE DIEREN MET EEN GIFT</h4>
          <a href="#">€ Steun ons</a>
      </section>
      <section class="afstand">
        <div>
          <h4>Afstand doen van een dier?</h4>
          <p>Mensen doen afstand van hun huisdieren om verschillende redenen, zoals  ziekte, financiële problemen, ruimtegebrek, allergieën, of veranderingen  in levensomstandigheden. Hoe moeilijk het ook is, we respecteren altijd  hun beslissing. Gelukkig zijn er nieuwe eigenaren die met liefde deze  dieren een nieuw thuis bieden.</p>
          <div>
            <a href="/toevoegen">Afstand doen van je kat <i class="fa-solid fa-arrow-right-long"></i></a>
          </div>
        </div>
                </section>
      <section class="contact">
          <h3>NEEM CONTACT MET ONS OP</h3>
          <p>Stuur een bericht naar ons toe, we reageren zo snel mogelijk!</p>

          <form class="contactform" action="">
            <div class="contactnaam">
              <div>
                <label for="voornaam">Voornaam</label>
                <input type="text" id="voornaam" name="voornaam" placeholder="voornaam">
              </div>
              <div>
                <label for="achternaam">Achternaam</label>
                <input type="text" id="achternaam" name="achternaam" placeholder="achternaam">
              </div>
            </div>
            <div>
              <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="email">
            </div>
            <div>
              <label for="bericht">Bericht</label>
              <textarea class="textareawrapper" name="bericht" id="bericht" cols="30" rows="10"></textarea>
            </div>

            <button class="btn" type="submit">Verzenden</button>
            
          </form>
      </section>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="script/script.js"></script>
    
  </body>
</html>
