<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inloggen - PurrfectMatch</title>
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/fee5056558.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <main>
      <section class="login">
        <p>Login</p>
        <form action="/inloggen" method="post">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" required>

          <label for="wachtwoord">Wachtwoord</label>
          <input type="password" id="wachtwoord" name="wachtwoord" required>

          <input type="submit" value="Submit">
        </form>
        <!-- <div>
          <p>Email</p>
          <input type="text" />
          <p>Wachtwoord</p>
          <input type="text" />
        </div> 
        <a href="index.html">Inloggen</a> -->
        <p>Nog geen account? <a href="registreren">registreren</a></p>
        <p>of</p>
        <div>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-google"></i>
        </div>
      </section>
    </main>
    <script src="script/script.js"></script>
  </body>
</html>
