* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --color-background: #1f8a2a;
    --color-secundaire: #b5c055;
    --color-darkgreen: #005B09;
    --color-geel: #FFD910;
    --color-oranje: #ffa800;
    --color-text: #fff;
}

body {
    min-height: 100vh;
    background: var(--color-background);
    overflow-x: hidden;
    color: var(--color-text);

}

header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

header .logo{
    color: var(--color-oranje);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.container{
    padding: 2rem 10%;
    display: grid;
    grid-gap: 2rem;
}

li {
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
} 

nav ul{
    background: var(--color-darkgreen);
    position: fixed;
    top: 0;
    right: -15rem;
    width: 50vw;
    height: 100vh;
    padding-top: 3em;
    z-index: 2;
    transition: right .5s;
}

nav ul li{
    display: block;
    list-style: none;
    margin: 1.5rem 2rem;
    text-align: center;
}

nav ul li a{
    color: var(--color-text);
    text-decoration: none;
    font-size: var(--fontsize-nav);
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--color-secundaire);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
}

nav ul li a:hover::after{
    width: 100%;
}

nav ul .fas{
    position: absolute;
    top: 2rem;
    right: 3rem;
    cursor: pointer;
    /* font-size: var(--fontsize-nav-icon);  */
}

nav > i {
    /* font-size: var(--fontsize-nav-icon); */
    cursor: pointer;
}

.overzicht {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    margin: 1em;
}

.overzicht li {
    list-style-type: none;
    display: flex;
    border: 1px #b5c055 solid;
    background-image: linear-gradient(to right, #A5AF4D , #98AA58);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    border-radius: 25px;
    margin-bottom: 1em;
}

.overzicht li img {
    width: 6em;
    height: 6em;
    padding: .5em;
    border-radius: 25px;
}

.overzicht li div {
    padding: .5em;
}

.overzicht li a {
    display: flex;
    color: white;
    text-decoration: none;
    width: 100%;
}

